{% extends "base.html" %}
{% block content %}
    <h1>Technologies Used by Mindteck</h1>
    <ul>
        <li>
            <strong>Software Development:</strong>
            Java, C, C++, C#, Python, .NET, JavaScript, HTML5, CSS3, Angular, React, Node.js, ASP.NET
        </li>
        <li>
            <strong>Embedded Systems & IoT:</strong>
            Embedded C/C++, RTOS, ARM, PIC, Atmel, MQTT, Zigbee, BLE, Wi-Fi, Modbus
        </li>
        <li>
            <strong>Cloud & DevOps:</strong>
            AWS, Azure, Google Cloud, Jenkins, Docker, Kubernetes, Git
        </li>
        <li>
            <strong>Data & Analytics:</strong>
            MySQL, PostgreSQL, Oracle, MongoDB, Hadoop, Spark, Power BI, Tableau
        </li>
        <li>
            <strong>Testing & Automation:</strong>
            Selenium, JUnit, TestNG, QTP/UFT
        </li>
        <li>
            <strong>ERP & PLM:</strong>
            SAP, Oracle, Siemens Teamcenter, PTC Windchill
        </li>
    </ul>
{% endblock %}

